@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --brand-default: #298000;
  --light-default: #F9F7EC;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-box-default {
  display: flex;
  background: var(--brand-default);
  border-radius: 5px;
  height: 44px;

  align-items: center;
  justify-content: center;

  color: var(--light-default);
}
